@media (max-width: 1199.5px) {
    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2.1875rem;
    }

    h3 {
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }

    h5 {
        font-size: 1.0625rem;
    }
}

@media (max-width:991px) {
    .header-scrolled {
        height: auto;
    }

    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 0.9375rem;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
}

@media (max-width: 767px) {
    section {
        padding: 5rem 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    h3 {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }

    /* about */
    .client-info>div {
        justify-content: center;
    }

    .about_wrapper .client-info:before {
        top: 0.25rem;
        left: 2.8125rem;
    }

    #resume h5:after {
        bottom: 128px;
        right: 162px;
    }

    .items span {
        margin-left: 40px;
        font-size: 12px;
    }

    .items h6 {
        font-size: 12px;
        margin-left: 40px;
    }

    .items h6 span {
        font-size: 10px;
    }

    .items p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 span {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 h6 {
        font-size: 12px;
        margin-left: 40px;
    }

    .items2 h6 span {
        font-size: 10px;
    }

    .items2 p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 i:after {
        height: 188px;
    }

    .graduate2 i {
        margin-right: 10px;
    }

    .graduate3 p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items3 i:after {
        height: 222px;
    }

    .items3 h6 {
        font-size: 12px;
    }

    .items3 h6 span {
        margin-left: 10px;
    }

    .items4 h6 {
        font-size: 12px;
    }

    .items4 h6 span {
        margin-left: 10px;
    }

    .items5 h6 {
        font-size: 12px;
    }

    .items5 h6 span {
        margin-left: 10px;
    }

    .items6 h6 {
        font-size: 12px;
    }

    .items6 h6 span {
        margin-left: 10px;
    }

    .items4 i:after {
        height: 40px;
    }

    .items5 i:after {
        height: 40px;
    }

    .items6 i:after {
        height: 40px;
    }

    .bios a img {
        width: 96%;
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {

    /* top banner */
    .banner_wrapper .banner-content h2::after {
        left: 34%;
    }

    #resume h5:after {
        bottom: 70px;
        right: 313px;
    }

    .items span {
        margin-left: 40px;
        font-size: 15px;
    }

    .items h6 {
        font-size: 15px;
        margin-left: 40px;
    }

    .items h6 span {
        font-size: 14px;
    }

    .items p {
        margin-left: 40px;
        font-size: 15px;
    }

    .items2 span {
        margin-left: 40px;
        font-size: 15px;
    }

    .items2 h6 {
        font-size: 15px;
        margin-left: 40px;
    }

    .items2 h6 span {
        font-size: 14px;
    }

    .items2 p {
        margin-left: 40px;
        font-size: 15px;
    }

    .items2 i:after {
        height: 133px;
    }

    .graduate2 i {
        margin-right: 10px;
    }

    .graduate3 p {
        margin-left: 40px;
        font-size: 15px;
    }

    .items3 i:after {
        height: 153px;
    }

    .items3 h6 {
        font-size: 14px;
    }

    .items3 h6 span {
        margin-left: 10px;
    }

    .items4 h6 {
        font-size: 14px;
    }

    .items4 h6 span {
        margin-left: 10px;
    }

    .items5 h6 {
        font-size: 14px;
    }

    .items5 h6 span {
        margin-left: 10px;
    }

    .items6 h6 {
        font-size: 14px;
    }

    .items6 h6 span {
        margin-left: 10px;
    }

    .items4 i:after {
        height: 44px;
        bottom: 9px;
    }

    .items5 i:after {
        height: 44px;
        bottom: 9px;
    }

    .items6 i:after {
        height: 44px;
        bottom: 9px;
    }
}

@media (max-width: 768px) {
    #resume h5:after {
        bottom: 70px;
        right: 433px;
    }

    .items span {
        margin-left: 40px;
        font-size: 12px;
    }

    .items h6 {
        font-size: 11px;
        margin-left: 40px;
    }

    .items h6 span {
        font-size: 9px;
    }

    .items p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 span {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 h6 {
        font-size: 11px;
        margin-left: 40px;
    }

    .items2 h6 span {
        font-size: 9px;
    }

    .items2 p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items2 i:after {
        height: 128px;
    }

    .graduate2 i {
        margin-right: 10px;
    }

    .graduate3 p {
        margin-left: 40px;
        font-size: 12px;
    }

    .items3 i:after {
        height: 153px;
    }

    .items3 h6 {
        font-size: 11px;
    }

    .items3 h6 span {
        margin-left: 10px;
    }

    .items4 h6 {
        font-size: 11px;
    }

    .items4 h6 span {
        margin-left: 10px;
    }

    .items5 h6 {
        font-size: 11px;
    }

    .items5 h6 span {
        margin-left: 10px;
    }

    .items6 h6 {
        font-size: 11px;
    }

    .items6 h6 span {
        margin-left: 10px;
    }

    .items4 i:after {
        height: 40px;
    }

    .items5 i:after {
        height: 40px;
    }

    .items6 i:after {
        height: 40px;
    }

    .bios a img {
        width: 96%;
        margin-top: 20px;
        margin-left: 20px;
    }
}